@{
    ViewData["Title"] = "Web Admin";
}


<div class="jumbotron">
    <h1>Web Admin</h1>
    <p>This is the Web Admin portal for maintaining users and Application Roles.</p>
</div>

    <a class="btn btn-default" asp-area="" asp-controller="AspNetUsers" asp-action="Index">Users</a>

    <a class="btn btn-default" asp-area="" asp-controller="AspNetRoles" asp-action="Index">Roles</a>
